/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

.flex-h3-container {
  width: 100%;
  display: flex;
}

.flex-h3-img {
  text-align: left;
}

.flex-h3-txt {
  text-align: right;
}

.flex-portfolio {  
  display: flex;  
  width: auto;
}

.flex-image1 {
padding-right: 5px;
}

.flex-image2 {
 margin: 20px;

 padding-right: 3px; 
}

.flex-image3 {
  padding-right: 3px; 
}

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1 {
  display: inline-block;
  font-family: "Playfair Display", Times, serif;
  align-items: center;
  text-align: center;
}

h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

nav li {
  display: inline-block;
  padding-left: 20px;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
